################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Resume/FileContentIndex
/.vs/slnx.sqlite
*.json
