################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Resume/FileContentIndex/245c0364-23a5-4340-873d-9122dc823ba5.vsidx
/.vs/Resume/FileContentIndex/28b75df5-3551-41d0-aaa8-2c741cafd5ce.vsidx
/.vs/Resume/FileContentIndex/49ff158f-c618-489b-b7f1-78fd1b3c28f1.vsidx
/.vs/Resume/FileContentIndex/4f7f9cc1-1fa1-4690-a1bc-456e5f047e7a.vsidx
*.vsidx
/.gitignore
